<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vi.mapper.BaseVillageMapper" >
  <resultMap id="BaseResultMap" type="com.vi.pojo.BaseVillage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="town_id" property="townId" jdbcType="BIGINT" />
    <result column="village_id" property="villageId" jdbcType="BIGINT" />
    <result column="village_name" property="villageName" jdbcType="CHAR" />
  </resultMap>
</mapper>